.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.horiCenter {
    width: 50%;
    margin: 0 auto;
}

#userName {
    border: none transparent;
    outline: none;
    font-size: x-large;
    background-color: transparent;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-20%, -50%);
}
.inicio {
    width: 100%;
    background: url(felt.jpg);
    
}
#primero {
    
    /*background-image: url(img-cards.jpg); */
    width: 100%;
    height: 100vh;
    background: url(img-cards.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

 }
 #primero input[type="text"]{
        border: 0;
        background: rgba(239,248,249,0.5);
        display: block;
        margin: 10% 10%;
        text-align: center;
        border: 2px solid #3498db;
        padding: 14px 10px;
        width: 250px;
        outline: none;
        color: black;
        border-radius: 24px;
        transition: 0.2s;
 }
 #primero input[type="text"]:focus{
    width: 280px;
    border-color: #2ecc71;
}



#segundo { 
    display: none;}
#third { display: none; font-family: 'Questrial', sans-serif; text-align: center; background: none;}

html {
    background: rgb(239,248,249);
    background: linear-gradient(332deg, rgba(239,248,249,1) 0%, rgba(232,247,255,1) 47%, rgba(222,217,217,1) 100%);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: wPedire;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

.btn_listo {
    background-color: #4CAF50;
    border: none;
    color: wPedire;
    padding: 110px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 170px;
}

.btn:hover {
    background-color: #60db64;
}

.btn:disabled {
    background-color: #919a91;
}

.btn_listo:hover {
    background-color: #60db64;
}

.btn_listo:disabled {
    background-color: #586b59;
}

.half {background-image: linear-gradient(to right, #4CAF50 0%, #4CAF50 47%, #000 54%, #000 100%)}


.volverJugarBtn {
    background-color: rgb(77, 77, 77);
    border: none;
    color: wPedire;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.05s;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
}

.volverJugarBtn:hover {
    background-color: rgb(58, 58, 58);
}

.readied {
    background-color: #586b59 !important;
}

#nombreJugador2 {
    padding: 50px 50px 10px;
    font-size: 32px;
}

#puntaje_div {
    font-size: 24px;
    padding: 30px;
}

.acciones {
    margin: 20px 15px 30px;
}

#mensajeTerminarJuego {
    padding: 20px;
    font-size: 20px;
}
.ocultar_boton {
    visibility: hidden;
}
.cargando {
    background: url(felt.jpg);
    background-repeat: repeat;
}
.carta, .txtCargando {
    visibility: hidden;
}
.carta2 {
    visibility: visible!important;
}

.txtCargando2 {
    text-align: center!important;
    font-size: 33px!important;
    font-style: oblique!important;
    font-weight: bold!important;
}

.labelJugar {
    font-size: 29px;
    font-weight: bold;
    background-color: #c5cbca;
    border-radius: 19px;
    padding: 1%;
    position: fixed;
    top: 28%;
    left: 50%;
    margin: auto;
}
.fuegoOculto {
    visibility: hidden;
}
.fuegoMostrar {
    visibility: visible!important;
}
.ocultarTexto {
    visibility: hidden!important;
}